.carousel{
    overflow: visible;
    height: 350px;
}

 .parallax-container.band_photo{
      height: 600px;
    }

.profile-photo{
    width: 80px;
}

.card {
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}

.center-me{
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}

#ninja-arena-display{
    width:400px;
}
#jammate-display{
    width:400px;
}
#tell-em-display{
    width: 200px;
    height: 350px;
}
