/*fonts*/
/*
font-family: 'Advent Pro', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
*/


body{
    background: #020013;
    color: black;
}

p{
    font-family: 'Dosis', sans-serif;
}

.skills{
    color: black;
}

.fsd{
color: rgb(11, 222, 222);
}

#name h1{
    font-size: 180px;
   font-family: 'Advent Pro', sans-serif;
    color: white;
    text-shadow: 1px 1px 10px #8af5eb;
}

#whoami{
    text-align: center;
font-family: 'Poor Story', cursive;
    color: white;
}

/*    border: 1px solid blue;
    border-radius: 30px;
    background: rgba(57, 72, 142, .3);
*/

#aboutme{
    color: white;
    padding: 0px 20px;

}
.carousel{
    overflow: visible;
    height: 240px;
;
}

/*.chickenrace img{
    height:153.48px;
}*/

/*html body main div.section div.carousel a.carousel-item{
    transform: translateX(398.5px) translateY(0px) translateX(0px) translateX(0px) translateZ(0px) !important;
}*/

.scale-transition.scale-out{
    transition: transform .8s, -webkit-transform .8s !important;
}

 .parallax-container.band_photo{
      height: 600px;
} 

.parallax-container.path_background{
      height: 400px;
}

.profile-photo{
    width: 80px;
}

/*.card {
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}*/

.center-me{
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}

#ninja-arena-display{
    width:400px;
}

#ninja_arena, #jammate, #tell_em{
    background: white;
    border: 1px solid #25cbd3;
    border-radius: 80px;
    padding-left: 35px;
    margin-bottom: 30px;
}

#jammate-display{
    width:400px;
}
#tell-em-display{
    width: 200px;
    height: 350px;
}



