body{
    background: #020013;
}

p{
    font-family: 'Dosis', sans-serif;

}
.carousel{
    overflow: visible;
    height: 240px;
;
}

/*html body main div.section div.carousel a.carousel-item{
    transform: translateX(398.5px) translateY(0px) translateX(0px) translateX(0px) translateZ(0px) !important;
}*/

.scale-transition.scale-out{
    transition: transform .8s, -webkit-transform .8s !important;
}

 .parallax-container.band_photo{
      height: 600px;
    }

.profile-photo{
    width: 80px;
}

/*.card {
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}*/

.center-me{
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}

#ninja-arena-display{
    width:400px;
}

#ninja_arena, #jammate, #tell_em{
    background: white;
    border: 1px solid #25cbd3;
    border-radius: 80px;
    padding-left: 35px;
    margin-bottom: 30px;
}

#jammate-display{
    width:400px;
}
#tell-em-display{
    width: 200px;
    height: 350px;
}

